*.png
*.dat
*.fit
*.fits
*.reg
*.ctrf
*.pdf
*.txt
*.tex
*.tar
*.wcs
*.hdr
*.tar.gz
dendrogram/dendrogram_w51e_B3-post_finding.ipynb
dendrogram/*
photometry/new_fitting_subpixel_tuning_final_uncer.ipynb
photometry/*
